[Admin]
email=admin@host.com
secretkey=supersecretkey
users=

[Anonymous]
# Controls weither an anonymous user can read/write
# values: true/false
read=true
write=true
delete=true
cg_read=false
cg_write=false
cg_delete=false

[Args]
debuglevel=0

[Auth]
globus_token_url=https://nexus.api.globusonline.org/goauth/token?grant_type=client_credentials
globus_profile_url=https://nexus.api.globusonline.org/users
client_auth_required=false

[Directories]
# See documentation for details of deploying Shock
site=/mnt/awe/site
data=/mnt/awe/data
logs=/mnt/awe/logs
awf=/mnt/awe/awfs

[External]
site-url=
api-url=

[Mongodb]
# Mongodb configuration:
# Hostnames and ports hosts=host1[,host2:port,...,hostN]
hosts=localhost

[Mongodb-Node-Indices]
# See http://www.mongodb.org/display/DOCS/Indexes#Indexes-CreationOptions for more info on mongodb index options.
# key=unique:true/false[,dropDups:true/false][,sparse:true/false]
id=unique:true

[Ports]
# Ports for site/api
# Note: use of port 80 may require root access
site-port=7106
api-port=7107

[Server]
perf_log_workunit=true
